.toolTip{
	position: absolute;
	width: 150px;
	height: 125px;
	padding: 5px;
	font-size: 12px;
	font-family: Georgia;
	color: black;
	text-align: center;
	border: 2px;
}

.axisText{
	font-family: Georgia;
	font-weight: bold;
	font-size: 20px;
}